body {
    animation: colorChange 10s linear 0s infinite;
    overflow: hidden;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container h1 {
    animation: spin 5s linear 0s infinite both;
    text-align: center;
}

@keyframes colorChange {
    0% {
        background-color: rgb(185, 46, 46);
    }

    20% {
        background-color: rgb(185, 111, 46);
    }

    40% {
        background-color: rgb(46, 185, 95);
    }

    60% {
        background-color: rgb(46, 71, 185);
    }

    80% {
        background-color: rgb(120, 46, 185);
    }

    100% {
        background-color: rgb(185, 46, 46);
    }
}

@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

#tip {
    display: none;
}

.hearts {
    position: absolute;
    top: 110%;
    animation: moveUp 2s linear 0s 1 forwards;
    opacity: 75%;
    z-index: -1;
}

@keyframes moveUp {
    0% {
        top: 93%;
    }

    100% {
        top: -10%;
        display: none;
    }
}